
//set up excutor
executor {
  name='pbspro'
  queueSize=10
}
//set up resource for process
process {

    withLabel: low_mem {
		queue = 'normal'
                cpus = 4
                memory = 12.GB
    }

    withLabel: medium_mem {
		queue = 'long'
                cpus = 8
                memory = 20.GB
    }

    withLabel: hign_mem {
		queue = 'large'
                cpus = 20
                memory =40.GB
    }

}
//using conda env
process {
	beforeScript = '''
	source /home/shangying/miniconda3/bin/activate nf-medip
	'''
}


